{% load i18n calorie_filter %}

<div class="flex justify-between items-start p-4 rounded-t border-b">
    <h3 class="text-xl font-semibold text-gray-900">
        {{ day_meal.meal.name }} - {{ day_meal.created }}
    </h3>
    <button modal-close
            class="text-gray-700 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
        <svg modal-close class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path modal-close fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
        </svg>
    </button>
</div>
<div class="p-3 space-y-6">
    <div class="px-8">
        <div class="flex justify-center space-x-8 pb-8">
            {% for nutrient, value in result_main_nutrients.items %}
                <div class="flex flex-col text-lg font-bold text-center border-2 border-gray-500 p-4">
                    <span>{{ nutrient|get_nutritional_translated }}</span>
                    <span>{{ value|format_nutrient:nutrient }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="pb-8">
            <h1 class="pb-6 text-xl font-bold">{% trans 'Informações adicionais' %}</h1>
            <div class="grid grid-cols-2 text-sm text-gray-600 gap-5">
                {% for nutrient, value in result_other_nutrients.items %}
                    <div>{{ nutrient|get_nutritional_translated }}
                        <span>{{ value|format_nutrient:nutrient }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div>
            <h1 class="text-xl font-bold">{% trans 'Metas nutricionais' %}</h1>
            <div class="flex flex-wrap gap-5 justify-center pt-5 mx-auto" style="width: 80%">
                {% for nutritional, span in nutritional_goal_values.items %}
                    <div class="flex flex-col p-5 border border-gray-500 rounded-lg text-center">
                        {{ nutritional|get_nutritional_translated }}
                        {{ span|safe }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>