{% load i18n %}

<div class="px-10 w-full relative">
    <h1 class="text-xl font-bold dark:text-white py-4">{% trans 'Meta corporal' %}</h1>
    <div class="space-y-8">
        <div class="bg-gray-200 h-3">
            <div id="weight" class="bg-sky-500 h-3" style="width: 0"></div>
            <div class="flex justify-between text-sm text-gray-700 py-0.5 font-medium dark:text-white">
                <span>{% trans 'Peso' %}</span>
                <span id="weight-text"></span>
            </div>
        </div>
        <div class="bg-gray-200 h-3">
            <div id="fat_body" class="bg-amber-400 h-3" style="width: 0"></div>
            <div class="flex justify-between text-sm text-gray-700 py-0.5 font-medium dark:text-white">
                <span>{% trans 'Gordura Corporal' %}</span>
                <span id="fat_body-text"></span>
            </div>
        </div>
        <div class="bg-gray-200 h-3">
            <div id="muscle" class="bg-green-400 h-3" style="width: 0"></div>
            <div class="flex justify-between text-sm text-gray-700 py-0.5 font-medium dark:text-white">
                <span>{% trans 'Massa Muscular' %}</span>
                <span id="muscle-text"></span>
            </div>
        </div>
    </div>
    <div class="flex justify-end pt-10 space-x-5">
        <button class="rounded-lg bg-sky-700 text-white py-1 px-3"
                hx-get="{% url 'calorie:update_body_goal' %}" hx-target="#content">
            {% trans 'Atualizar' %}
        </button>
        <button class="rounded-lg bg-sky-700 text-white py-1 px-3"
                hx-get="{% url 'calorie:create_body_goal' %}" hx-target="#content">
            {% trans 'Nova meta' %}
        </button>
    </div>
</div>

{% block javascript %}
    <script>
        {% for element, goal in goal_info.items %}
            setProgressTextBody('{{ element }}-text', {{ goal.0 }}, {{ goal.1 }})
            setProgress('{{ element }}', {{ goal.0 }}, {{ goal.1 }})
        {% endfor %}
    </script>
{% endblock %}