{% load i18n %}

<div class="flex justify-between items-start p-4 rounded-t border-b">
    <h3 class="text-xl font-semibold text-gray-900">
        {% trans 'Informe a quantidade do alimento' %}
    </h3>
    <button modal-close
            class="text-gray-700 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
        <svg modal-close class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path modal-close fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"></path>
        </svg>
    </button>
</div>
<div class="p-3 space-y-6">
    <div class="px-8">
        <div id="form-add-food" class="py-2">
            <div class="my-4">
                <label for="units"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    {% trans 'Selecione uma medida' %}
                </label>
                <select id="units"
                        name="food"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    {% for id, measurement in food_info.items %}
                        <option value="{{ id }}">{{ measurement }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="my-4">
                <label for="amount"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                    {% trans 'Quantidade' %}
                </label>
                <input type="text" id="amount" name="amount"
                       class="block p-2 w-full text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-xs">
            </div>
            <button modal-close class="p-2 text-white bg-sky-600 rounded-lg w-full"
                    _="on click addFood()">
                {% trans 'Adicionar' %}
            </button>
        </div>
    </div>
</div>

{% block javascript %}
    <script>
        function addFood() {
            let queryParams = getInputToQuery('#form-add-food')
            fetch(`{% url 'calorie:add_food' meal_id %}${queryParams}`)
                .then(response => response.json())
                .then(response => {
                    updateNutritionalProgress(response)
                    updateCaloriesProgress(response)
                })
        }
    </script>
{% endblock %}