{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% trans 'Página Inicial' %}
{% endblock %}

{% block css %}
    <style>
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
{% endblock %}


{% block content %}
    <div class="py-3">
        <ul class="flex justify-center text-xl font-bold text-gray-800 cursor-pointer dark:text-white">
            <li class="hover:opacity-70 p-2 rounded-md" _="on click call callMealView()">
                <i class="fa-solid fa-apple-whole pr-2"></i>
                {% trans 'Refeições' %}
            </li>
            <li class="hover:opacity-70 p-2 rounded-md">
                <i class="fa-solid fa-person-walking pr-2"></i>
                {% trans 'Exercícios' %}
            </li>
            <li class="hover:opacity-70 p-2 rounded-md"
                hx-get="{% url 'calorie:food_summary' %}" hx-target="#content">
                <i class="fa-solid fa-carrot pr-2"></i>
                {% trans 'Relatório' %}
            </li>
            <li class="hover:opacity-70 p-2 rounded-md">
                <i class="bi bi-person-fill pr-2"></i>
                {% trans 'Perfil' %}
            </li>
            <li class="hover:opacity-70 p-2 rounded-md"
                id="theme-toggle">
                <button type="button"
                        class="flex items-center">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                              fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                    <span class="pl-2">Darkmode</span>
                </button>
            </li>
        </ul>
    </div>
    <div class="grid grid-cols-2 p-6 relative">
        <div id="content" class="min-h-full mx-10">
        </div>
        <div class="flex">
            <div class="flex flex-col w-full">
                <div id="progress-spot-1">

                </div>
                <div id="progress-spot-2" class="mt-16">

                </div>
            </div>
            <div id="progress-post-circle">
            </div>
        </div>
    </div>
    {% include 'includes/modal/modal.html' %}
{% endblock %}

{% block javascript %}
    <script>
        function callMealView() {
            htmx.ajax('GET', '{% url 'calorie:meal_view' %}', '#content').then(() => {
                htmx.ajax('GET', '{% url 'calorie:render_goal_bar_nutritional' %}', '#progress-spot-1').then(() => {
                    htmx.ajax('GET', '{% url 'calorie:render_goal_bar_body' %}', '#progress-spot-2')
                })
                htmx.ajax('GET', '{% url 'calorie:render_progress_circle' %}', '#progress-post-circle')

            })
        }

        callMealView()
    </script>
    <script>
        function setProgress(element, percent, total) {
            let progress_element = document.querySelector(element)

            if (percent > total) {
                percent = total
            }

            if (['#calories', '#water'].includes(element)) {
                let radius = progress_element.r.baseVal.value;
                let circumference = radius * 2 * Math.PI;

                progress_element.style.strokeDasharray = `${circumference} ${circumference}`;
                progress_element.style.strokeDashoffset = `${circumference}`;

                progress_element.style.strokeDashoffset = circumference - percent / total * circumference;
                return
            }

            let value = (percent * 100) / total

            progress_element.style.width = `${value}%`
        }

        function setProgressText(element, percent, total) {
            let text_element = document.querySelector(element);
            if (percent > total) {
                let difference = percent - total
                let differenceColor = element === '#protein-text' ? 'text-green-500' : 'text-red-500'
                text_element.innerHTML = `<span class="${differenceColor}">${total}/${total} (+${difference})</span>`
                return
            }
            text_element.innerText = `${percent}/${total}`
        }

        function setProgressTextWater(percent, total) {
            let formatPercent = formatWater(percent)
            let formatTotal = formatWater(total)

            let text_element = document.querySelector('#water-text');

            text_element.innerText = `${formatPercent}/${formatTotal}`

            if (percent > total) {
                let difference = percent - total
                let formatDifference = formatWater(difference)
                text_element.innerHTML = `<span class="text-green-500">${formatTotal}/${formatTotal} (+${formatDifference})</span>`
            }
        }

        function formatWater(water) {
            let formatWater = ''
            if (water >= 1000) {
                formatWater += (`${String(water).charAt(0)}L`)
            }
            let hundred = water % 1000
            if (hundred > 0) {
                if (formatWater !== '') {
                    formatWater += (' ')
                }
                formatWater += (`${hundred}ml`)
            }
            return formatWater
        }

        function updateFood(food, amount) {
            fetch(`/food/nutritional_value/${food}?amount=${amount}`)
                .then(response => response.json())
                .then(response => {
                    let options = ['protein', 'carbohydrate', 'fat', 'calories']
                    if (response['protein'] === undefined) {
                        options = ['calories',]
                    }
                    for (let option of options) {
                        let current = response[`current-${option}`]
                        let total = response[`total-${option}`]
                        setProgressText(`#${option}-text`, current, total)
                        setProgress(`#${option}`, current, total)
                    }
                })
        }
    </script>
    <script>
        const targetModal = document.querySelector('#modal');

        const modal = new Modal(targetModal)

        htmx.on("htmx:afterSwap", e => {
            if (e.detail.target.id === "modal-body") {
                modal.show()
            }
        })

        window.onclick = e => {
            if (e.target.hasAttribute("modal-close")) {
                modal.hide()
            }
        }
    </script>
{% endblock %}