{% extends 'base.html' %}

{% load i18n %}

{% block title %}
    {% trans 'Página Inicial' %}
{% endblock %}

{% block css %}
    <style>
        .centered {
            position: absolute;
            top: 45%;
            left: 48%;
            transform: translate(-50%, -50%);
        }

        .sidebar-shadow {
            -webkit-box-shadow: 6px 5px 20px 5px rgba(0, 0, 0, 0.34);
            box-shadow: 6px 5px 20px 5px rgba(0, 0, 0, 0.34);
        }
    </style>
{% endblock %}


{% block content %}
    <div class="py-3">
        <ul class="flex justify-center text-xl font-bold text-gray-800 cursor-pointer dark:text-white">
            <li class="hover:opacity-70 p-2 rounded-md">
                <i class="fa-solid fa-apple-whole pr-2"></i>
                {% trans 'Refeições' %}
            </li>
            <li class="hover:opacity-70 p-2 rounded-md">
                <i class="fa-solid fa-person-walking pr-2"></i>
                {% trans 'Exercícios' %}
            </li>
            <li class="hover:opacity-70 p-2 rounded-md">
                <i class="fa-solid fa-carrot pr-2"></i>
                {% trans 'Relatório' %}
            </li>
            <li class="hover:opacity-70 p-2 rounded-md">
                <i class="bi bi-person-fill pr-2"></i>
                {% trans 'Perfil' %}
            </li>
            <li class="hover:opacity-70 p-2 rounded-md"
                id="theme-toggle">
                <button type="button"
                        class="flex items-center">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                              fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                    <span class="pl-2">Darkmode</span>
                </button>
            </li>
        </ul>
    </div>
    <div class="flex p-6 relative">
        <div class="grow">
            <div id="content" class="min-h-full mx-10">
            </div>
        </div>
        <div>
            <div class="relative">
                <svg class="w-64 h-64 mx-auto">
                    <circle class="text-gray-300"
                            stroke-width="10"
                            stroke="currentColor"
                            fill="transparent"
                            r="106"
                            cx="123"
                            cy="123"></circle>
                    <circle id="calorie-circle"
                            class="text-amber-500"
                            stroke="currentColor"
                            stroke-width="10"
                            fill="transparent"
                            r="106"
                            cx="123"
                            cy="123"></circle>
                </svg>
                <div class="centered flex flex-col text-center dark:text-white">
                    <i class="fa-solid fa-fire-flame-curved fa-lg py-3"></i>
                    <span class="text-lg font-medium">Calorias</span>
                    <span class="text-sm">192/1800</span>
                </div>
            </div>
            <div class="relative">
                <svg class="w-64 h-64">
                    <circle class="text-gray-300"
                            stroke-width="10"
                            stroke="currentColor"
                            fill="transparent"
                            r="106"
                            cx="123"
                            cy="123"></circle>
                    <circle id="water-circle"
                            class="text-sky-700"
                            stroke="currentColor"
                            stroke-width="10"
                            fill="transparent"
                            r="106"
                            cx="123"
                            cy="123"></circle>
                </svg>
                <div class="centered flex flex-col text-center dark:text-white">
                    <i class="bi bi-droplet-fill text-xl"></i>
                    <span class="text-lg font-medium">Água</span>
                    <span class="text-sm">250ml/2.5L</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        function setProgress(element, percent) {
            let circle = document.querySelector(element);
            let radius = circle.r.baseVal.value;
            let circumference = radius * 2 * Math.PI;

            circle.style.strokeDasharray = `${circumference} ${circumference}`;
            circle.style.strokeDashoffset = `${circumference}`;


            let total = 14
            circle.style.strokeDashoffset = circumference - percent / total * circumference;
        }

        setProgress('#calorie-circle', 13);
        setProgress('#water-circle', 3)
    </script>
    <script>
        htmx.ajax('GET', '{% url 'calorie:meal_view' %}', '#content')
    </script>
{% endblock %}